body{
    background-color: rgb(243, 235, 235);
  }
  
  .container{
      text-align: center;
      width: 100%;
      height: 100%;
      float:left;
      margin-bottom: 0%;
  }
  
  .container2{
    text-align: center;
    width: 100%;
    height: 100%;
    float:right;
    margin-bottom: 0%;
}

  
.center {
    margin-left: 70px;
    margin-right: 20px;
    margin-top: 50px;
    width:400px;
    height: 400px;
  }
  
  .text{
    margin-top: 2%;
    text-align:right;
    margin-right: 2%;
    margin-bottom: 10px;
    font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;
    }
  
  .button1 {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: rgb(230, 21, 21);
    border: none;
    border-radius: 50px;
    box-shadow: 0 9px #999;
    }
  
  .button1:hover {background-color: #6c7ee2}
  
  .button1:active {
    background-color: #6c7ee2;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  
  .button2 {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    outline: none;
    color: #fff;
    background-color: rgb(11, 58, 187);
    border: none;
    border-radius: 50px;
    box-shadow: 0 9px #999;
  }
  
  .button2:hover {background-color: #6c7ee2}
  
  .button2:active {
    background-color: #6c7ee2;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  
  .button3 {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: rgb(127, 2, 230);
    border: none;
    border-radius: 50px;
    box-shadow: 0 9px #999;
  }
  
  .button3:hover {background-color: #6c7ee2}
  
  .button3:active {
    background-color: #6c7ee2;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  
  
  .button4 {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    outline: none;
    color: #fff;
    background-color: #D7AE00;
    border: none;
    border-radius: 50px;
    box-shadow: 0 9px #999;
  }
  
  .button4:hover {background-color: #6c7ee2}
  
  .button4:active {
    background-color: #6c7ee2;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  
  .button5 {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
    background-color: #00d785;
    border: none;
    border-radius: 50px;
    box-shadow: 0 9px #999;
  }
  
  .button5:hover {background-color: #6c7ee2}
  
  .button5:active {
    background-color: #6c7ee2;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }