body{
  background-color: rgb(243, 235, 235);
}

.container7{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.img{
  margin-left: 20px;
  margin-top: 10px;
  cursor: pointer;
}

.img1{
  width: 30px;
  height: 58px;
}

.text{
  margin-top: 2%;
  text-align:left;
  margin-left: 2%;
  margin-bottom: 4%;
  font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;
  }

.button1 {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  margin-left: 15px;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: rgb(230, 21, 21);
  border: none;
  border-radius: 50px;
  box-shadow: 0 9px #999;
  }

.button1:hover {background-color: #6c7ee2}

.button1:active {
  background-color: #6c7ee2;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button2 {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  margin-left: 15px;
  outline: none;
  color: #fff;
  background-color: rgb(11, 58, 187);
  border: none;
  border-radius: 50px;
  box-shadow: 0 9px #999;
}

.button2:hover {background-color: #6c7ee2}

.button2:active {
  background-color: #6c7ee2;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button3 {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  margin-left: 15px;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: rgb(127, 2, 230);
  border: none;
  border-radius: 50px;
  box-shadow: 0 9px #999;
}

.button3:hover {background-color: #6c7ee2}

.button3:active {
  background-color: #6c7ee2;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.button4 {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  margin-left: 15px;
  outline: none;
  color: #fff;
  background-color: #D7AE00;
  border: none;
  border-radius: 50px;
  box-shadow: 0 9px #999;
}

.button4:hover {background-color: #6c7ee2}

.button4:active {
  background-color: #6c7ee2;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button5 {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  margin-left: 15px;
  color: #fff;
  background-color: #00d785;
  border: none;
  border-radius: 50px;
  box-shadow: 0 9px #999;
}

.button5:hover {background-color: #6c7ee2}

.button5:active {
  background-color: #6c7ee2;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}



body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container3 {
  position: center;
  margin-top: 100px;
  text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.topnav {
  overflow: hidden;
  background-color: #2832c7;
}

.topnav a {
  float: left;
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #2832c7;
  color: rgb(255, 255, 255);
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .login-container {
  float: right;
  margin-right: 16px;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width:120px;
}

.topnav .login-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 16px;
  margin-left: 16px;
  background-color: rgb(255, 0, 0);
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .login-container button:hover {
  background-color: rgb(0, 0, 0);
}

@media screen and (max-width: 600px) {
  .topnav .login-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .login-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}

.t1{
margin-top: 10px;
height: 40px;
font-family: 'Courier New';
font-size: 50px;
color: rgb(255, 255, 255);
margin: 1em auto 1em;
float: center;
text-align: center;
}

.t2{
  color: rgb(255, 255, 255);
}

/* Full-width input fields */
input[type=text], input[type=password] {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
}

/* Set a style for all buttons */
button {
background-color: #04AA6D;
color: white;
padding: 14px 20px;
font-size: 18px;
font-family:Arial;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
}

button:hover {
opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
width: 100%;
padding: 10px 18px;
background-color: #f44336;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.form-login {
width: 300px;
height: 340px;
background: #4e4d4d;
margin: auto;
margin-top: 10px;
box-shadow: 7px 13px 37px #000;
padding: 20px 30px;
border-top: 4px solid #017bab;
color: white;
}

.form2 {
width: 300px;
height: 340px;
background: #4e4d4d;
margin: auto;
margin-top: 10px;
box-shadow: 7px 13px 37px #000;
padding: 20px 30px;
border-top: 4px solid #017bab;
color: white;
}

.botones {
width: 100%;
height: 40px;
background: #017bab;
border: none;
color: white;
margin-bottom: 16px;
}

.form-login h2 {
margin: 0;
text-align: center;
height: 40px;
margin-bottom: 20px;
border-bottom: 1px solid;
font-size: 20px;
}
/* Center the image and position the close button */
.imgcontainer {
text-align: center;
margin: 24px 0 12px 0;
position: relative;
}

img.avatar {
width: 40%;
border-radius: 0%;
}

.container2 {
padding: 16px;
}

span.psw {
float: right;
padding-top: 16px;
}

/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
padding-top: 10px;
}

/* Modal Content/Box */
.modal-content {
  background-image: url('../SGA/Images/img1.png');
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border:1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  }

/* The Close Button (x) */
.close {
position: absolute;
right: 25px;
top: 0;
color: #000;
font-size: 35px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: red;
cursor: pointer;
}

/* Add Zoom Animation */
.animate {
-webkit-animation: animatezoom 0.6s;
animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
from {-webkit-transform: scale(0)} 
to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
from {transform: scale(0)} 
to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
span.psw {
display: block;
float: none;
}
.cancelbtn {
width: 75%;
}
}
